.apps {
    /* background-color: gray; */
    height: 100vh;
}

.body{
    height: 700px;
    width: 500px;
    border: solid black;
    display: flex;
    flex-direction: column;
    
}

.head {
  display: flex;
}
.head >h1 {
    
    margin: auto;
    
}
.balance{
    margin-top: 15px;
 display: flex;
 flex-direction: column;
}
.balance >h4 {
    margin-left: 10px;
}
.balance >h1 {
    margin-left: 10px;
}
.income {
    display: flex;
}

.incomediv1 {
    margin-left: 50px;
    margin-top: 10px;
    background-color: ;
}

.incomediv1 > p {
    margin-left: 5px;
}

.history {
    display: flex;
    flex-direction: column;
}
.history > h3 {
    margin-left: 10px;
}

.history > hr {
    width: 90%;
    margin-left: 10px;
}

.history >ul> li {
    display: flex;
    width: 450px;
    background-color: white;
    /* margin-top: 2px; */
    justify-content: space-between;
    margin-left: -18px;
    border: solid black 1px;
    margin-top: 5px;
}
.history>ul >li > button{
    border: none;
    display: flex;
    
}
.addtrans {
    display: flex;
    flex-direction: column;
}
.addtrans > form>input {
    margin-left: 10px;
    margin-right: 8px;
    

    /* border-radius: 30px; */
    /* padding :10px; */
    border: none;
    outline-width: 0;
}
.addtrans > form > button {
    margin-left: 180px;
    margin-top: 20px;
    border: none;
    padding: 10px;

}